<%
var locale = env.locale;
var slug = env.slug;
var baseURL = "/" + locale + "/docs/Learn/";

function currentPageIsUnder(root) {
  rootSlug = "Learn/" + root;
  if (slug.indexOf(rootSlug) != -1) {
    return "open";
  }
  return "";
}

var text = mdn.localStringMap({
  'en-US': {
    'Linux': 'Linux - Learning Area',
      'Basics': 'Basics of Linux',
        'Introduction_to_Booting_Process': 'Introduction to Booting Process',
        'Networking_Concepts': 'Networking Concepts',
        'Remote_Login_Linux': 'Remotely Login into Linux System',
      'Multimedia_and_embedding': 'Multimedia and embedding',
        'Multimedia_and_embedding_overview': 'Multimedia and embedding overview',
        'Images_in_HTML': 'Images in HTML',
  }
});
%>

<section id="Quick_links">

<ol>

  <li data-default-state="<%=currentPageIsUnder('Linux')%>"><a href="<%=baseURL%>Linux"><strong><%=text['Linux']%></strong></a></li>
  <li class="toggle">
      <details <%=currentPageIsUnder('Linux')%>>
          <summary><%=text['Basics']%></summary>
          <ol>
            <li><a href="<%=baseURL%>Linux/Booting_Process/"><%=text['Introduction_to_Booting_Process']%></a></li>
            <li><a href="<%=baseURL%>Linux/Introduction_About_Computer_Network/"><%=text['Networking_Concepts']%></a></li>
            <li><a href="<%=baseURL%>Linux/Remote_Login_Into_Linux_Machine/"><%=text['Remote_Login_Linux']%></a></li>
          </ol>
      </details>
  </li>
  </ol>

</section>
